
html {
    box-sizing: border-box;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

body,
#row {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    background-color: rgb(31 41 55/1);
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: 2.24rem;
    line-height: 1.77rem;
    color: rgb(209 213 219/1);
    border: solid 2px rgb(124 89 32/1);
}

#display-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 50px;
    max-width: 280px;
    flex-wrap: wrap;
    border: solid 2px rgb(209 213 219/1);
    align-self: stretch;
    text-align: right;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.buttons {
    display: flex;
    border: 2px;
}

.operator,        
.number {
    padding: 1.12rem;
    margin: 0.34rem;
}

#operators {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#clear {
    font-size: 0.7rem;
}
